<!DOCTYPE>
<html ng-controller="LoginCtrl">

<div class="container">

    <div class="row">
        <h2>Login</h2>
    </div>


    <div class="row">
        <div class="col-md-6">
            <form>
                <div class="form-group">
                    <label for="userNameInput">User Name</label>
                    <input type="text" class="form-control" id="userNameInput" placeholder="User Name" ng-model="user.userName">
                </div>
                <div class="form-group">
                    <label for="passwordInput">Password</label>
                    <input type="password" class="form-control" id="passwordInput" placeholder="Password" ng-model="user.password">
                </div>

                <button type="submit" class="btn btn-default" ng-click="login()">Submit</button>
            </form>
        </div>

    </div>

</div>












</html>